/* styles/style.css */

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 20px;
}

h1 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

/* Leave the image on the left like your screenshot */
img {
  display: block;
}
